<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="dispatcherMapping1" type="System.Configuration.DictionarySectionHandler" />
    <section name="batchDispatcherMapping1" type="System.Configuration.DictionarySectionHandler" />
    <section name="dispatcherMapping2" type="System.Configuration.DictionarySectionHandler" />
    <section name="batchDispatcherMapping2" type="System.Configuration.DictionarySectionHandler" />
    <section name="dispatcherMethodMapping" type="System.Configuration.DictionarySectionHandler" />
    <section name="dispatchConfig" type="System.Configuration.DictionarySectionHandler" />
    <section name="AutoGenerateContext" type="WS_Simulator.GenerateContext,WS_Simulator" />
    <section name="oracle.manageddataaccess.client" type="OracleInternal.Common.ODPMSectionHandler, Oracle.ManagedDataAccess, Version=4.122.19.1, Culture=neutral, PublicKeyToken=89b483f429c47342" />
  </configSections>
  <AutoGenerateContext>
    <GenerateContext>
      <add name="#NUMBER#" type="{0:D3}" count="0" mode="increase" />
      <add name="#NUMBER20#" type="{0:D3}" count="20" mode="loop" />
      <add name="#NUMBER100#" type="{0:D3}" count="100" mode="loop" />
    </GenerateContext>
  </AutoGenerateContext>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="fabName" value="/msg/msgBody/fabName" />
    <add key="eventName" value="/msg/msgBody/eventName" />
    <add key="eqpId" value="/msg/msgBody/eqpId" />
    <add key="area" value="/msg/msgBody/area" />
    <add key="batchId" value="/msg/msgBody/batchId" />
    <add key="lotCnt" value="/msg/msgBody/lotCnt" />
    <add key="messageId" value="/msg/msgBody/messageId" />
    <add key="exContext" value="/msg/msgBody/exContext" />
    <add key="batchId" value="/msg/msgBody/batchId" />
    <add key="XmlString" value="/msg/msgBody/lotInfoList/lotInfo" />
    <add key="XMLStringAllLots" value="/msg" />
    <add key="FileExtension" value=".xml;.txt;.sql" />
    <add key="NeedSendExtension" value=".xml" />
    <add key="NeedTimerWait" value="Used" />
    <add key="WaitTime" value="1000" />
    <add key="needDBOpr" value="T" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <connectionStrings>
    <add name="myconn" connectionString="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=10.57.254.141)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=E3SUITE)));User ID=e3suite;Password=e3suite" />
    <add name="WebServiceAddr" connectionString="http://10.57.254.141:58251/Adapter/SMSC_R2R_DispatchService.asmx;http://10.57.254.141:58251/Adapter/SMSC_R2R_ControllerService.asmx" />
    <add name="E3TestRootName" connectionString="/eventInfo;/RequestSchema" />
    <add name="fabName" connectionString="/msg/msgBody/fabName" />
    <add name="eventName" connectionString="/msg/msgBody/eventName" />
    <add name="eqpId" connectionString="/msg/msgBody/eqpId" />
    <add name="area" connectionString="/msg/msgBody/area" />
    <add name="batchId" connectionString="/msg/msgBody/batchId" />
    <add name="lotCnt" connectionString="/msg/msgBody/lotCnt" />
    <add name="messageId" connectionString="/msg/msgBody/messageId" />
    <add name="exContext" connectionString="/msg/msgBody/exContext" />
    <add name="batchId" connectionString="/msg/msgBody/batchId" />
    <add name="XmlString" connectionString="/msg/msgBody/lotInfoList;/msg/msgBody/batchParaInfo" />
    <add name="BatchMethodName" connectionString="SMSC_R2R_Furnace_UsedSettings;SMSC_R2R_Furnace_Metrology;SMSC_R2R_Furnace_CalcRecipeSettings" />
  </connectionStrings>
  <dispatcherMapping1>
    <add key="/msg/msgBody/area" value="/eventInfo/Area" />
    <add key="/msg/msgBody/batchId" value="/eventInfo/BatchId" />
    <add key="/msg/msgBody/eqpId" value="/eventInfo/EqpId" />
    <add key="/msg/msgBody/eventName" value="/eventInfo/EventName" />
    <add key="/msg/msgBody/lotCnt" value="/eventInfo/LotCnt" />
    <add key="/msg/msgBody/messageId" value="/eventInfo/MessageId" />
    <add key="/msg/msgBody/exContext" value="/eventInfo/ExContext" />
    <add key="/msg/msgBody/lotInfoList/lotInfo" value="/eventInfo/XmlString/lotInfoList/lotInfo" />
  </dispatcherMapping1>
  <batchDispatcherMapping1>
    <add key="/msg/msgBody/area" value="/eventInfo/Area" />
    <add key="/msg/msgBody/batchId" value="/eventInfo/BatchId" />
    <add key="/msg/msgBody/eqpId" value="/eventInfo/EqpId" />
    <add key="/msg/msgBody/eventName" value="/eventInfo/EventName" />
    <add key="/msg/msgBody/lotCnt" value="/eventInfo/LotCnt" />
    <add key="/msg/msgBody/messageId" value="/eventInfo/MessageId" />
    <add key="/msg/msgBody/exContext" value="/eventInfo/ExContext" />
    <add key="/msg/msgBody/lotInfoList" value="/eventInfo/XmlString/lotInfoList" />
    <add key="/msg/msgBody/batchParaInfo" value="/eventInfo/XmlString/batchParaInfo" />
  </batchDispatcherMapping1>
  <dispatcherMapping2>
    <add key="/msg" value="/RequestSchema/XMLStringAllLots/msg" />
  </dispatcherMapping2>
  <batchDispatcherMapping2>
    <add key="/msg" value="/RequestSchema/XMLStringAllLots/msg" />
  </batchDispatcherMapping2>
  <dispatcherMethodMapping>
    <add key="Calc" value="CalcRecipeSettings" />
    <add key="Used" value="UsedSettings" />
    <add key="Post" value="Metrology" />
    <add key="Pre" value="Metrology" />
  </dispatcherMethodMapping>
  <dispatchConfig>
    <add key="IsBatch" value="Fur" />
    <add key="AutoChange" value="/msg/msgHeader/srvMethod" />
  </dispatchConfig>
  <system.data>
    <DbProviderFactories>
      <remove invariant="Oracle.ManagedDataAccess.Client" />
      <add name="ODP.NET, Managed Driver" invariant="Oracle.ManagedDataAccess.Client" description="Oracle Data Provider for .NET, Managed Driver" type="Oracle.ManagedDataAccess.Client.OracleClientFactory, Oracle.ManagedDataAccess, Version=4.122.19.1, Culture=neutral, PublicKeyToken=89b483f429c47342" />
    </DbProviderFactories>
  </system.data>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <publisherPolicy apply="no" />
        <assemblyIdentity name="Oracle.ManagedDataAccess" publicKeyToken="89b483f429c47342" culture="neutral" />
        <bindingRedirect oldVersion="4.121.0.0 - 4.65535.65535.65535" newVersion="4.122.19.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <oracle.manageddataaccess.client>
    <version number="*">
      <dataSources>
        <dataSource alias="SampleDataSource" descriptor="(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=localhost)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=ORCL))) " />
      </dataSources>
    </version>
  </oracle.manageddataaccess.client>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>