<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ColorCode" version="1.0.1" targetFramework="net461" />
  <package id="Oracle.DataAccess.x86" version="2.112.1.0" targetFramework="net461" />
  <package id="Oracle.ManagedDataAccess" version="19.5.0" targetFramework="net461" />
  <package id="sautinsoft.htmltortf" version="7.4.4.30" targetFramework="net461" />
  <package id="System.Data.Common" version="4.3.0" targetFramework="net461" />
  <package id="System.Data.OracleClient" version="1.0.8" targetFramework="net461" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net461" />
</packages>